@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .y-container {
    @apply container mx-auto;
  }

  .main {
    @apply flex min-h-screen flex-1 flex-col items-center justify-center;
  }
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
